/* Tailwind base, components, and utilities layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --border: #ffffff;
  --ring: #010816;
  --foreground: #ffffff;
  --forground-dark: #383c88;

  /* Gradients */
  --linear-gradient: linear-gradient(
    0deg,
    #383c88 0%,
    #7f67ae 68%,
    #b886cf 100%
  );

  --text-gradient: linear-gradient(90deg, #383c88 0%, #7f67ae 40%, #b886cf 80%);

  /* Theme Colors */
  --primary: #f183fa;
  --primary-foreground: #ffffff;

  --secondary: #8388fa;
  --secondary-foreground: #ffffff;

  --destructive: #ff000f;
  --destructive-foreground: #ffffff;

  --muted: #7c7a7c;
  --muted-foreground: #ffffff;

  --accent: #ffe500;
  --accent-foreground: #ffffff;

  --card: #ffffff;
  --card-foreground: #222222;

  /* Other */
  --radius: 0.5rem;
  --blur: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    /* すべての要素にボーダースタイルを適用 */
    @apply border-border;
  }

  body {
    /* Body全体の背景色とテキストの色を適用 */
    @apply bg-gradient-custom text-foreground;
  }
}

@layer utilities {
  .text-balance {
    /* テキストのバランス調整 */
    text-wrap: balance;
  }
}
